:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link-box{
  position: fixed;
  z-index: 1;
  }

.link-box a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.link-box a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

input {
  padding: 5px 10px;
}
button {
  background-color: rgb(114, 126, 235);
  color: aliceblue;
  border: 1px;
  padding: 5px 10px;
}

.search-form {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(90, 99, 143, 0.96);
  padding: 10px;
  text-align: center;
}

.search-form input,
.form-btn {
  border-radius: 5px;
  border: 1px solid;
}
.info {
  display: flex;
  justify-content: space-around;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5px 0;
}

.load-more {
  display: block;
  background-color: rgb(40, 60, 175);
  margin: 20px auto;
  border-radius: 5px;
}

/* ++++++++++++ SimpleLightbox ++++++++++++++++++++++*/

.gallery {
  margin: 0 auto;
  display: flex;
 justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 60px;
}
.photo-card {
  width: 300px;
 
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.thumb{
  width: 300px;
  height: 200px;
  overflow: hidden;
  
}

.gallery__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__image:hover {
  cursor: zoom-in;
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
} 

